{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header id="site-head">
            <div id="site-head-content" class="inner">
                {{#if @blog.logo}}
                    <a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
                {{else}}
                    <a href="{{@blog.url}}" class="blog-title">{{@blog.title}}</a>
                {{/if}}
            </div>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        <h1 class="post-title">{{{title}}}</h1>

        <hr />

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            <section class="share">
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        {{/post}}

    </article>

</main>
