{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="{{@blog.title}}" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    {{#if @blog.logo}}<meta property="og:image" content="{{@blog.logo}}" />{{/if}}
    <meta property="og:description" content="{{@blog.description}}"/>
    <meta property="fb:profile_id" content="<YOUR FACEBOOK ID>" />
    <meta property="fb:admins" content="<YOUR FACEBOOK ID>" />
{{/contentFor}}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head">
    <div id="site-head-content" class="inner">
        {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <h1 class="blog-title">{{tag.name}}</h1>
        <h2 class="blog-description">Post collection</h2>
    </div>
</header>

<nav class="main-nav overlay clearfix">
    <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
</nav>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>

